<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Skroll_Dashboardpdf>
            <version>0.1.0</version>
        </Skroll_Dashboardpdf>
    </modules>
 	<global>
		<models>
			<dashboardpdf>
				<class>Skroll_Dashboardpdf_Model</class>
			</dashboardpdf>
		</models> 		
 	</global>
    <frontend>
        <routers>
            <sales>
                <args>
                    <modules>
                        <Skroll_Dashboardpdf>Skroll_Dashboardpdf</Skroll_Dashboardpdf>
                    </modules>
                </args>
            </sales>
        </routers>
    </frontend>
</config>